:root {
  --accent: #e24301;
}

body > header {
    background-image: url("eduvpn_logo.png");
    background-repeat: no-repeat;
    background-position: 5% 50%; 
}

body > header > h1 {
    color: transparent;
}

@media (prefers-color-scheme: dark) {
    body > header {
        background-image: url("eduvpn_logo_dark.png");
    }
}

table {
	width: 100%;
}

span.error {
    color: darkred;
}

span.success {
    color: darkgreen;
}

span.fade {
    color: lightgray;
}

span.awesome {
    color: lightgreen;
}

span.warning {
    color: darkorange;
}

a.nodeco {
	text-decoration: none;
}